[flake8]
max_line_length = 120
show_source = true
exclude = .git,.venv,.venv2,.venv3,__pycache__,.cache

# The following codes are ignored so that `flake8` plays nicer with how `black`
# likes to format:
# - E203: whitespace before ':'
# - E231: missing whitespace after ',', ';', or ':'
# - E302: expected 2 blank lines, found 0
#
# ref:
# https://pycodestyle.readthedocs.io/en/latest/intro.html#error-codes
#
extend_ignore = E203,E231,E302

# vim:filetype=dosini

per-file-ignores =
     tests/test_metadata.py: E501
