*.pyc
.DS_Store
.coverage
.vagrant
/*.egg
/*.egg-info
/*.eggs
/.conda/
/.idea/
/.jupyter/
/.local/
/.pipenv-requires
/.venv/
/build/
/dist/
/docs/docs/changelog.md
/docs/docs/index.md
/node_modules/
/notebooks*/
/rsconnect-build
/rsconnect-build-test
/rsconnect/version.py
/tests/testdata/**/rsconnect-python/
env
htmlcov
test-home/
venv
coverage.xml
/typings/

# Temporary dev files
vetiver-testing/rsconnect_api_keys.json
/pip-wheel-metadata/

# license files should not be commited to this repository
*.lic
