*.pyc
/build/
/dist/
/.conda/
/.jupyter/
/.local/
/.idea/
/node_modules/
/notebooks*/
/*.egg-info
/*.egg
/*.eggs
.DS_Store
.vagrant
rsconnect/tests/testdata/**/rsconnect-python/
.coverage
htmlcov
.python-version
