*.pyc
.DS_Store
.coverage
.vagrant
/*.egg
/*.egg-info
/*.eggs
/.conda/
/.idea/
/.jupyter/
/.local/
/build/
/dist/
/node_modules/
/notebooks*/
/rsconnect/version.py
htmlcov
rsconnect/tests/testdata/**/rsconnect-python/
