[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
coverage = "*"
flake8 = "*"
funcsigs = "*"
importlib-metadata = "*"
ipython = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
pytest-mypy = "*"
setuptools_scm = "*"
toml = "*"
twine = "*"
wheel = "*"

[packages]
click = ">=7.0.0"
ipykernel = "*"
jupyter_client = "*"
nbconvert = "*"
six = ">=1.14.0"

[pipenv]
allow_prereleases = true
