[build-system]
requires = ["setuptools>=42", "wheel", "setuptools_scm[toml]>=3.4"]

[tool.black]
line-length = 120
target-version = ['py35', 'py36', 'py37', 'py38']

[tool.coverage.run]
omit = ["tests/*"]

[tool.setuptools_scm]
write_to = "rsconnect/version.py"
