# This file is just for Snyk scanning,
# because it doesn't understand pyproject.toml
# unless it uses Poetry.
# https://github.com/snyk/snyk-python-plugin/issues/147

# build-system.requires
setuptools>=61
setuptools_scm[toml]>=3.4
wheel

# project.dependencies
six>=1.14.0
click>=8.0.0
pip>=10.0.0
semver>=2.0.0,<3.0.0
pyjwt>=2.4.0
black==24.3.0

# project.optional-dependencies.test
coverage
flake8-pyproject
flake8
httpretty
ipykernel
mypy
nbconvert
pytest-cov
pytest-mypy
pytest
setuptools_scm[toml]
twine
types-Flask
types-six
