[project]
name = "$name"
version = "0.0.1"
requires-python = "$requires_python"
dependencies = []

[tool.rsconnect]
app_mode = "quarto-static"
entrypoint = "report.qmd"
title = "$name"
requirements_file = "uv.lock"
