[project]
name = "$name"
version = "0.0.1"
requires-python = "$requires_python"
dependencies = [
    "fastapi",
    "uvicorn",
]

[tool.rsconnect]
app_mode = "python-fastapi"
entrypoint = "$name.__connect__:app"
title = "$name"
requirements_file = "uv.lock"
